* {
    margin: 0;
    padding: 0;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
    /* display: flex; */

    font-family: 'Cute Font', cursive;
}

#root {
    /* overflow: hidden; */
    width: calc(100% - 200px);
    height: calc(100vh - 200px);
}

#ui {
    width: 100%;
    height: 200px;

    display: flex;

    background: #2E363F;
    color: #e9f3ff;
}

#controls {
    width: calc(100% - 360px);

    position: relative;
}

#controls>div {
    padding-left: 16px;
}

.statusString {
    font-family: 'Exo', sans-serif; 
    font-size: 18px;
}

p {
    font-size: 47px;

    padding-left: 6px;
    line-height: 40px;
    padding-top: 3px;
}

#controlButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 82px;
    position: absolute;
    bottom: 8px;
    left: -8px;
}

#controlButtons * {
    display: block;
    margin-top: 6px;
}

#buttonContainer {
    position: absolute;
    bottom: 6px;
    right: 6px;

    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#buttonContainer * {
    display: block;
    margin-top: 6px;
}

.btn {
    font-family: 'Cute Font', cursive;
    font-size: 25px;

    padding: 0 15px;

    color: white;
    background: #2e363f;
    transition: 0.2s background;

    border: 2px solid;
    border-radius: 6px;

    width: 150px;
}

#start {
    display: none;
}

.btn:hover {
    background: #4d5a69;
}

.btn:active {
    background: #445260;
}

.btn:disabled {
    background: #9a9a9a;
}

#dices {
    position: absolute;
    top: 6px;
    right: 6px;
}

#dices * {
    width: 50px;
    border-radius: 6px;
}